* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


#menu-boxs {
    background-image: url(./images/menu-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 820px;
    width: 100%;
}

.menu-box-cont {
    padding-top: 100px;
    margin-bottom: 60px;
}

.menu-box-cont h4 {
    text-align: center;
    color: rgb(34, 34, 34);
    font-size: 36px;
    font-weight: 600;
    line-height: 43.2px;
    margin-bottom: 10px;
}

.menu-box-cont p {
    text-align: center;
    color: rgb(119, 119, 119);
    font-size: 14px;
    font-weight: 300;
    line-height: 22.75px;
}

#menu-p-boxs {
    width: 1200px;
    margin: auto;
    display: flex;
    margin-top: 30px;
    gap: 3%;
}

.menu-box {
    background-color: #ffffff;
    padding: 30px 30px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}

.menu-box:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: translateY(-10px);
    transition: 0.5s ease-in-out;
}

.m-f-block {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.m-f-block h5 {
    color: rgb(34, 34, 34);
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
}

.m-f-block h6 {
    color: rgb(182, 136, 52);
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
}

.menu-box p {
    color: rgb(119, 119, 119);
    font-size: 14px;
    font-weight: 300;
    line-height: 22.75px;
}



/* VIDEO SECTION RESPONSIVE CODE IS STARTED HERE */


            /*-------- DESKTOP CODE IS HERE  --------*/


@media screen and (max-width: 1200px) {
    #menu-boxs {
        height: 750px;
    }

    .menu-box-cont {
        padding-top: 80px;
    }

    #menu-p-boxs {
        width: 800px;
        padding: 0 20px;
    }

    .menu-box {
        padding: 20px 20px;
    }

    .menu-box:nth-child(3) {
        display: none;
    }
}



            /*-------- TABLET CODE IS HERE  --------*/


@media screen and (max-width: 768px) {
    #menu-boxs {
        height: 700px;
    }

    .menu-box-cont {
        padding-top: 60px;
    }

    .menu-box-cont h4 {
        font-size: 30px;
        line-height: 36px;
    }

    .menu-box-cont p {
        font-size: 13px;
        line-height: 21px;
    }

    #menu-p-boxs {
        width: 600px;
        padding: 0 20px;
    }

    .menu-box {
        padding: 20px 20px;
    }

    .m-f-block h5 {
        font-size: 16px;
        line-height: 19.2px;
    }

    .m-f-block h6 {
        font-size: 16px;
        line-height: 19.2px;
    }

    .menu-box p {
        font-size: 13px;
        line-height: 21px;
    }
}



            /*-------- MOBILE CODE IS HERE  --------*/


@media screen and (max-width: 360px) {
    #menu-boxs {
        height: 720px;
    }

    .menu-box-cont {
        padding-top: 50px;
    }

    .menu-box-cont h4 {
        font-size: 26px;
        line-height: 31.2px;
    }

    .menu-box-cont p {
        font-size: 12px;
        line-height: 19.2px;
    }

    #menu-p-boxs {
        width: 300px;
        flex-direction: column;
        padding: 0 20px;
    }

    .menu-box {
        padding: 20px 20px;
        margin: 0px 0;
    }

    .menu-box:nth-child(2) {
        display: none;
    }

    .m-f-block h5 {
        font-size: 14px;
        line-height: 16.8px;
    }

    .m-f-block h6 {
        font-size: 14px;
        line-height: 16.8px;
    }

    .menu-box p {
        font-size: 12px;
        line-height: 19.2px;
    }
}