* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


#review {
    background-color: rgb(52,29,10);
    color: #ffffff;
}

.r-box {
    width: 1320px;
    height: 870px;
    margin: auto;
}

.review-box-cont {
    padding-top: 120px;
    margin-bottom: 60px;
}

.review-box-cont h4 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-weight: 600;
    line-height: 43.2px;
    margin-bottom: 10px;
}

.review-box-cont p {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 300;
    line-height: 22.75px;
}

.review-boxs {
    display: flex;
    align-items: center;
    gap: 5%;
}

.review-b {
    background-color: #ffffff;
    text-align: center;
    padding: 60px 25px 20px 25px;
    height: 350px;
    border-radius: 50px;
    box-shadow: 0px 11px 45px 0px rgba(0,0,0,0.1);
    border: 2px solid #36363617;
    cursor: pointer;
}

.review-b i {
    color: #FB0000;
    margin-bottom: 20px;
}

.review-b p {
    color: rgb(33, 37, 41);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
}

.review-b img {
    width: auto;
    height: 50px;
    margin-bottom: 20px;
}

.review-b h6 {
    color: #1e1e1e;
    font-size: 20px;
    font-weight: 600;
    line-height: 28.8px;
    margin-bottom: 20px;
}

.review-b:hover {
    transform: translate(0, -10px);
    transition: .4s ease-in-out;
    box-shadow: 0px 11px 45px 0px rgba(0,0,0,0.1);
}


.portfolio-details {
    display: flex;
    justify-content: space-around;
    padding-top: 90px;
    margin: auto;
}

.portfolio-details h4 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    line-height: 50px;
}

.portfolio-details p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 22.75px;
    margin-top: 20px;
}



/* REVIEW SECTION RESPONSIVE CODE IS STARTED HERE */


            /*-------- DESKTOP CODE IS HERE  --------*/


@media screen and (max-width: 1200px) {
    .r-box {
        width: 1000PX;
        padding: 0 20px;
    }

    .review-box-cont h4 {
        font-size: 30px;
        line-height: 36px;
    }

    .review-box-cont p {
        font-size: 14px;
        line-height: 22.75px;
    }

    .review-b {
        padding: 40px 20px 20px 20px;
        height: 300px;
    }

    .review-b img {
        height: 40px;
    }

    .review-b h6 {
        font-size: 18px;
        line-height: 26.8px;
    }

    .portfolio-details h4 {
        font-size: 40px;
        line-height: 50px;
    }

    .portfolio-details p {
        font-size: 14px;
        line-height: 22.75px;
    }
}


            /*-------- TABLET CODE IS HERE  --------*/


@media screen and (max-width: 768px) {
    .r-box {
        width: 100%;
        padding: 0 20px;
        height: 1000px;
    }

    .review-box-cont h4 {
        font-size: 25px;
        line-height: 30px;
    }

    .review-box-cont p {
        font-size: 12px;
        line-height: 18px;
    }

    .review-boxs {
        flex-direction: column;
        gap: 20px;
    }

    .review-b {
        padding: 30px 20px 20px 20px;
        height: 250px;
        width: 400PX;
    }

    .review-b:nth-child(3) {
        display: none;
    }

    .review-b img {
        height: 30px;
    }

    .review-b h6 {
        font-size: 16px;
        line-height: 24.8px;
    }

    .portfolio-details h4 {
        font-size: 30px;
        line-height: 40px;
    }

    .portfolio-details p {
        font-size: 12px;
        line-height: 18.75px;
    }
}


            /*-------- MOBILE CODE IS HERE  --------*/


@media screen and (max-width: 360px) {
    .r-box {
        width: 100%;
        padding: 0 20px;
        height: 1050px;
    }

    .review-box-cont h4 {
        font-size: 20px;
        line-height: 26px;
    }

    .review-box-cont p {
        font-size: 10px;
        line-height: 15px;
    }

    .review-boxs {
        flex-direction: column;
        gap: 20px;
    }

    .review-b {
        padding: 30px 20px 30px 20px;
        height: 290px;
        width: 300PX;
    }

    .review-b img {
        height: 50px;
    }

    .review-b h6 {
        font-size: 14px;
        line-height: 20.8px;
    }

    .portfolio-details h4 {
        font-size: 20px;
        line-height: 30px;
    }

    .portfolio-details p {
        font-size: 10px;
        line-height: 15.75px;
    }

    .numbers:nth-child(3) {
        display: none;
    }
}